:root {
    color-scheme: light dark;
    --text-color: #000;
    --footer: #fafafa;
    --white: white;
    --opposite: #000;
    --semi-white: #eee;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #fff;
        --footer: #000;
        --white: #1e1e1e;
        --opposite: #fff;
        --semi-white: #333;
    }

    .logo {
        background: url("../img/logo-white.svg") !important;
        background-size: contain !important;
    }
}

html {
    overflow-x: hidden;
}

body {
    // margin-bottom: 300px;
    background: var(--white);
    overflow-x: hidden;
    font-family: SF Pro Display;
    font-style: normal;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    width: 100vw;
    height: 100vh;

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .logo {
            width: 20vw;
            height: 20vw;
            min-width: 200px;
            min-height: 200px;
            background: url("../img/logo.svg");
            background-size: contain;
            border: 50px solid var(--white);
            border-radius: 100%;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        }

        h1.title {
            text-align: center;
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: 600;
            font-size: 64px;
            line-height: 76px;
            color: var(--text-color);
        }
    }
}

article {
    position: absolute;
    top: 100vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        background: var(--white);
        width: 100vw;
        height: 100vh;
        color: var(--text-color);

        &.pole {
            .left {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 60vh;
                width: 40vw;

                h1 {
                    font-family: "Airbnb Cereal App";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 288px;
                    line-height: 375px;
                    margin: 0;
                }

                p {
                    font-family: SF Pro Display;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 57px;
                    color: #777777;

                    .black {
                        color: var(--text-color)
                    }
                }
            }

            .right {
                width: 30vw;
                height: 70vh;
                background: url("../img/pole.jpg");
                background-size: cover;
                background-position: center;
            }
        }

        &.connection {
            .left {
                width: 50vw;
                height: 100vh;
                background: url("../img/team.jpg");
                background-size: cover;
                background-position: center;
            }

            .right {
                width: 50vw;
                height: 100vh;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;

                h1 {
                    font-family: "Airbnb Cereal App";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 72px;
                    line-height: 94px;
                    margin: 0;
                }

                p {
                    font-family: SF Pro Display;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 57px;
                    color: #777777;
                    text-align: center;

                    .black {
                        color: var(--text-color)
                    }
                }
            }
        }

        &.smarter {
            display: block;
            h1 {
                padding: 150px 0;
                font-family: "Airbnb Cereal App";
                font-style: normal;
                font-weight: bold;
                font-size: 72px;
                line-height: 94px;
                text-align: center;
            }

            .grid {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                flex-wrap: wrap;
                height: 100vh;
        
                .item {
                    height: 50vh;
                    min-height: 300px;
                    width: 50vw;
                    padding: 50px;
                    min-width: 500px;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-size: cover;
                    text-align: center;
                    text-decoration: none;

                    h2 {
                        margin-top: 20px;
                    }
        
                    p {
                        margin-top: -24px;
                    }
        
                    img {
                        width: 100px;
                        // height: 100px;
                        // filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));

                        &.euclid {
                            width: 50%;
                        }
                    }

                    h2,
                    img,
                    p {
                        transition: all 100ms ease-in-out;
                    }
        
                    &:hover {
                        text-decoration: none;
        
                        h2,
                        img,
                        p {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}
// Media Queries

@media (max-width: 940px) {
    h1.title {
        font-size: 48px !important;
    }
    article {
        section {
            h1 {
                font-size: 38px !important;
                line-height: 56px !important;
            }
            &.pole {
                .left {
                    width: calc(100vw - 20px);
                    height: 50vh;
                    h1 {
                        font-size: 72px !important;
                    }
                    p {
                        font-size: 28px;
                    }
                }
                .right {
                    width: calc(100vw - 20px);
                    height: 50vh;
                }
                flex-direction: column;
            }
            &.connection {
                margin-top: 30px;
                .right {
                    width: calc(100vw - 20px);
                    height: 50vh;
                    p {
                        font-size: 28px;
                    }
                }
                .left {
                    width: 100vw;
                    height: 50vh;
                }
                flex-direction: column-reverse;
            }

            &.smarter .grid {
                flex-direction: row;
                .item {
                    width: 100vw;
                }
            }
        }
    }
}